{% from "tabler/elements/icon.html" import render_icon %}
{% from "tabler/elements/avatar.html" import render_avatar %}

{% if g.user %}
  <div class="nav-item dropdown ms-3">
    <a href="#" class="nav-link d-flex lh-1 text-reset p-0" data-bs-toggle="dropdown" aria-label="{{ _('Open user menu') }}">
      {% if g.user.avatar %}
        <span class="avatar avatar-sm" style="background-image: url({{ g.user.avatar }})">
        </span>
      {% elif g.user.avatar_label %}
        {{ render_avatar(label=g.user.avatar_label[:2], size="sm") }}
      {% else %}
        {{ render_icon("user") }}
      {% endif %}
      <div class="d-block ps-2">
        <div class="text-capitalize">{{ g.user.display_name }}</div>
        <div class="mt-1 small text-secondary">{{ g.user.secondary_display_name }}</div>
      </div>
    </a>
    <div class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
      {% for link in login_dropdown_links %}
        {% if link.divider %}
          <div class="dropdown-divider"></div>
        {% else %}
          <a href="{{ link.url or 'javascript:void(0)' }}" class="dropdown-item">
            {{ render_icon(link.icon, **(link.icon_kw or {})) }}
            <span class="ms-2">{{ _(link.label) }}</span>
            {{ render_icon(link.right_icon, **(link.icon_kw or {})) }}
          </a>
        {% endif %}
      {% endfor %}
    </div>
  </div>
{% else %}
  <div class="nav-item ms-3">
    {{ user_login_html|safe }}
    {% if not hide_default_login %}
      <a href="{{ config.LOGIN_URL or 'javascript:void(0)' }}" class="nav-link d-flex lh-1 text-reset p-0 text-orange" aria-label="{{ _('Login') }}">
        {{ render_icon("login", icon_size=1, color="orange") }}
        {{ _("Login") }}
      </a>
    {% endif %}
  </div>
{% endif %}
